@charset "utf-8";

@import "~bulma/bulma.sass";

a {
  text-decoration: none;
}

.file-name {
  width: 16rem;
}

.videowrapper {
  overflow:hidden;
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}

.videowrapper video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-content .content {
  height: 70px;
}